$main-font-stack: "Montserrat", sans-serif;
$main-cursive-font: "Kaushan Script", cursive;
$secondary-font-stack: "Roboto", sans-serif;

$primary-white-color: #ffffff;

$primary-dark-color: #333333;
$secondary-dark-color:#999999;
$light-gray: #ccc;

$primary-accent-color:  #fce38a;
$red-icon-color: #f38181;
$green-icon-color: #95e1d3;

$main-text-height: 1.2;
$secondary-text-height: 1.6;