.inner {
    background: linear-gradient(
        0deg,
        rgba(252, 227, 138, 0.9),
        rgba(243, 129, 129, 0.9)
      ),
      url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0;
  }
  
  @media (min-resolution: 192dpi), (min-resolution: 192dppx) {
    .inner {
      background: url("../images/bg@2x.jpg");
    }
  }
  
  .inner__title {
    text-align: center;
    color: $primary-white-color;
    width: 820px;
    margin: 0 auto 120px auto;

    &-up {
      @extend %title-up;
      font-size: 72px;
      text-transform: capitalize;
    }

    &-down {
      @extend %title-down;
      font-size: 140px;
    }
  }
  
  .inner__button {
    @extend %button;
    display: block;
    margin: 0 auto;
    border: 3px solid #fff;
    background: transparent;
    padding: 12px 30px;
  }