.footer {
    border-top: 1px solid #e5e5e5;
    min-height: 62px;
    padding: 10px 0;

    &__container {
        @include center-flex('ver');
        justify-content: space-between;
    }

    &__text {
        @include font-settings(14px, 400, 1.2);
        font-family: $main-font-stack;
        color: $primary-dark-color;

        &--link {
            color: $red-icon-color;
        }
    }

    &__form {
        font-size: 0;
    }

}

.form{
    &__mail {
        border: 1px solid #e7e7e7;
        @include width-height(230px, 42px);
        @include font-settings(15px, 400, 1.6);
        font-family: $secondary-font-stack;
        font-style: italic;

        &::placeholder {
            color: $light-gray;
        }
    }
    
    
    &__button {
        @extend %button;
        @include font-settings(14px, 700, 1.2);
        text-align: center;
        @include width-height(150px, 42px);
        background-color: $green-icon-color;
        border: none;
    }
}